.contact-field{
    width:100%;
    padding:0 20px;
}
.policies-container .policy-item {
    padding-bottom: 5px;
    padding-top: 5px;
    position: relative; }
    .policies-container .policy-item .policy-background img {
      height: auto;
      width: 100%; }
    .policies-container .policy-item .policy-content {
      left: 0;
      height: 100%;
      padding: 25px;
      position: absolute;
      top: 0;
      width: 100%; }
      .policies-container .policy-item .policy-content .icon {
        font-size: 100px; }
    .policies-container .policy-item a {
      color: #000000; }
    .policies-container .policy-item h3 {
      padding-bottom: 20px; }

  .policies-container .policy-item__contact h3 {
    font-size: 15px;
    padding-bottom: 10px;
    text-transform: uppercase; }

  .policies-container .policy-item__contact label {
    font-weight: normal; }

  .policies-container .policy-item__contact .policy-background {
    background-color: #F3EDCD; }

  .policies-container .policy-item__contact .policy-content {
    padding-left: 5px;
    padding-right: 5px; }

  .policies-container .policy-item__payment .policy-background {
    background-color: #E2E1E6; }

  .policies-container .policy-item__shipping .policy-background {
    background-color: #E2E1E6; }

  .policies-container .policy-item__warranty .policy-background {
    background-color: #E2E1E6; }

    /* ------------------------------------------------------- */
